In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as stats
from scipy.stats import poisson
import plotly 
import plotly.plotly as py 
import plotly.figure_factory as ff
from plotly.graph_objs import *
import plotly.graph_objs as go
import cufflinks as cf
plotly.tools.set_credentials_file(username='bluecrayon52', api_key='jidjcpp2L31WYmRfaHZx')

In [40]:
df = pd.read_csv("../data/asylum_seekers_monthly.csv", header = 3, low_memory=False, dtype={'Year': str})
df['Value'] = pd.to_numeric(df['Value'], errors='coerce')
df=df.rename(columns ={'Country / territory of asylum/residence':'Asylum'})
df=df.dropna(subset=['Value'])
# df.dtypes
df = df.sort_values('Value',ascending=False)
df.head()

         Asylum            Origin  Year     Month    Value
315117  Germany  Syrian Arab Rep.  2016  February  36860.0
293335  Germany  Syrian Arab Rep.  2015  November  30863.0
315118  Germany  Syrian Arab Rep.  2016     March  30856.0
315116  Germany  Syrian Arab Rep.  2016   January  30261.0
293334  Germany  Syrian Arab Rep.  2015   October  30216.0

In [25]:
df.keys()

Index([u'Asylum', u'Origin', u'Year', u'Month', u'Value'], dtype='object')

In [102]:
# df2 = pd.read_csv("../data/country_centroids/country_centroids_all.csv", sep='\t')
# df2 = df2[['LAT', 'LONG','SHORT_NAME']]
# df2.to_pickle("../data/country_centroids/country_centroids_lean.csv")
df2 = pd.read_pickle("../data/country_centroids/country_centroids_lean.csv")
df_countries = df2.copy()
df2 = df2.rename(columns ={'SHORT_NAME':'Asylum', 'LAT':'asylum_lat', 'LONG':'asylum_lon'})
df2.head()

   asylum_lat  asylum_lon          Asylum
0   33.000000        66.0     Afghanistan
1   41.000000        20.0         Albania
2   28.000000         3.0         Algeria
3  -14.333333      -170.0  American Samoa
4   42.500000         1.5         Andorra

In [93]:
df3 = df2.copy()
df3 = df3.rename(columns ={'Asylum':'Origin', 'asylum_lat':'origin_lat', 'asylum_lon':'origin_lon'})
df3.head()

   origin_lat  origin_lon          Origin
0   33.000000        66.0     Afghanistan
1   41.000000        20.0         Albania
2   28.000000         3.0         Algeria
3  -14.333333      -170.0  American Samoa
4   42.500000         1.5         Andorra

In [86]:
# dic = pd.Series(index=df.Asylum.unique()).to_dict()
# dic2 = pd.Series(index=df.Origin.unique()).to_dict()
# dic.update(dic2)

# for key, value in dic.iteritems():
#     if (key in df2.SHORT_NAME.values):
#         dic[key] = key
        
# dic['Bolivia (Plurinational State of)'] = 'Bolivia'
# dic['Brunei Darussalam'] ='Brunei'
# dic['Cabo Verde'] = 'Cape Verde'
# dic['Central African Rep.'] = 'Central African Republic'
# dic['China, Hong Kong SAR'] = 'Hong Kong'
# dic['China, Macao SAR'] = 'Macau'
# dic['Congo'] = 'Democratic Republic of the Congo'
# dic['Czech Rep.'] = 'Czech Republic'
# dic["C\xc3\xb4te d'Ivoire"] = "Cote d'Ivoire"
# dic["Dem. People's Rep. of Korea"] = 'North Korea'
# dic['Dem. Rep. of the Congo'] = 'Democratic Republic of the Congo'
# dic['Dominican Rep.'] = 'Dominican Republic'
# dic['Iran (Islamic Rep. of)'] = 'Iran'
# dic["Lao People's Dem. Rep."] = 'Laos'
# dic['Micronesia (Federated States of)'] = 'Federated States of Micronesia'
# dic['Myanmar'] = 'Burma'
# dic['Palestinian'] = 'Palestine'
# dic['Rep. of Korea'] = 'South Korea'
# dic['Rep. of Moldova'] = 'Moldova'
# dic['Russian Federation'] = 'Russia'
# dic['Serbia and Kosovo: S/RES/1244 (1999)'] = 'Serbia'
# dic['Stateless'] = 'Stateless'
# dic['Syrian Arab Rep.'] = 'Syria'
# dic['The former Yugoslav Rep. of Macedonia'] = 'Macedonia'
# dic['Tibetan'] = 'Tibet'
# dic['USA (EOIR)'] = 'United States'
# dic['USA (INS/DHS)'] = 'United States'
# dic['United Kingdom of Great Britain and Northern Ireland'] = 'United Kingdom'
# dic['United Rep. of Tanzania'] = 'Tanzania'
# dic['United States of America'] = 'United States'
# dic['Various/unknown'] = 'Various/unknown'
# dic['Venezuela (Bolivarian Republic of)'] = 'Venezuela'
# dic['Viet Nam'] = 'Vietnam'

# df['Asylum'] = df['Asylum'].replace(dic)
# df['Origin'] = df['Origin'].replace(dic)

# df[df.Asylum != 'Stateless']
# df[df.Origin != 'Stateless']

# df[df.Asylum != 'Palestine']
# df[df.Origin != 'Palestine']

# df[df.Asylum != 'Various/unknown']
# df[df.Origin != 'Various/unknown']

# df[df.Asylum != 'Tibet']
# df[df.Origin != 'Tibet']

# df.to_pickle("../data/asylum_seekers_monthly_mod.csv")

In [192]:
# df = df.merge(df2, how='inner')
# df = df.merge(df3, how='inner')
# df = df.dropna(subset=['asylum_lat','asylum_lon', 'origin_lat', 'origin_lon'])
# df.to_pickle("../data/asylum_seekers_monthly_mod.csv")
# df = pd.read_pickle("../data/asylum_seekers_monthly_mod.csv")
# temp = pd.DataFrame(df.groupby(['Year', 'Origin','origin_lat', 'origin_lon', 'Asylum', 'asylum_lat', 'asylum_lon'])['Value'].sum())
# temp = temp.reset_index()
# temp.to_pickle("../data/asylum_seekers_monthly_to_yearly_mod.csv")
df = pd.read_pickle("../data/asylum_seekers_monthly_to_yearly_mod.csv")
df.head(50)

,Year,Origin,origin_lat,origin_lon,Asylum,asylum_lat,asylum_lon,Value
0,1999,Afghanistan,33.0,66.0,Australia,-25.000000,135.000000,609.0
1,1999,Afghanistan,33.0,66.0,Austria,47.333333,13.333333,2209.0
2,1999,Afghanistan,33.0,66.0,Belgium,50.833333,4.000000,401.0
3,1999,Afghanistan,33.0,66.0,Bulgaria,43.000000,25.000000,277.0
4,1999,Afghanistan,33.0,66.0,Canada,60.000000,-96.000000,539.0
5,1999,Afghanistan,33.0,66.0,Czech Republic,49.750000,15.000000,2312.0
6,1999,Afghanistan,33.0,66.0,Denmark,56.000000,10.000000,533.0
7,1999,Afghanistan,33.0,66.0,Finland,64.000000,26.000000,24.0
8,1999,Afghanistan,33.0,66.0,France,46.000000,2.000000,163.0
9,1999,Afghanistan,33.0,66.0,Germany,51.500000,10.500000,4500.0
10,1999,Afghanistan,33.0,66.0,Greece,39.000000,22.000000,116.0
11,1999,Afghanistan,33.0,66.0,Hungary,47.000000,20.000000,2238.0
12,1999,Afghanistan,33.0,66.0,Ireland,53.000000,-8.000000,13.0
13,1999,Afghanistan,33.0,66.0,Luxembourg,49.750000,6.166667,6.0
14,1999,Afghanistan,33.0,66.0,Netherlands,52.500000,5.750000,4400.0
15,1999,Afghanistan,33.0,66.0,Norway,62.000000,10.000000,172.0
16,1999,Afghanistan,33.0,66.0,Poland,52.000000,20.000000,551.0
17,1999,Afghanistan,33.0,66.0,Romania,46.000000,25.000000,292.0
18,1999,Afghanistan,33.0,66.0,Slovakia,48.666667,19.500000,643.0
19,1999,Afghanistan,33.0,66.0,Slovenia,46.250000,15.166667,4.0
20,1999,Afghanistan,33.0,66.0,Spain,40.000000,-4.000000,28.0
21,1999,Afghanistan,33.0,66.0,Sweden,62.000000,15.000000,351.0
22,1999,Afghanistan,33.0,66.0,Switzerland,47.000000,8.000000,359.0
23,1999,Afghanistan,33.0,66.0,Turkey,39.059012,34.911546,171.0
24,1999,Afghanistan,33.0,66.0,United Kingdom,54.000000,-4.000000,3985.0
25,1999,Afghanistan,33.0,66.0,United States,39.828175,-98.579500,157.0
26,1999,Albania,41.0,20.0,Australia,-25.000000,135.000000,32.0
27,1999,Albania,41.0,20.0,Austria,47.333333,13.333333,88.0
28,1999,Albania,41.0,20.0,Belgium,50.833333,4.000000,1010.0
29,1999,Albania,41.0,20.0,Bulgaria,43.000000,25.000000,1.0
30,1999,Albania,41.0,20.0,Canada,60.000000,-96.000000,517.0
31,1999,Albania,41.0,20.0,Czech Republic,49.750000,15.000000,1.0
32,1999,Albania,41.0,20.0,Denmark,56.000000,10.000000,23.0
33,1999,Albania,41.0,20.0,Finland,64.000000,26.000000,29.0
34,1999,Albania,41.0,20.0,France,46.000000,2.000000,288.0
35,1999,Albania,41.0,20.0,Germany,51.500000,10.500000,568.0
36,1999,Albania,41.0,20.0,Greece,39.000000,22.000000,8.0
37,1999,Albania,41.0,20.0,Hungary,47.000000,20.000000,2.0
38,1999,Albania,41.0,20.0,Ireland,53.000000,-8.000000,12.0
39,1999,Albania,41.0,20.0,Luxembourg,49.750000,6.166667,80.0
40,1999,Albania,41.0,20.0,Netherlands,52.500000,5.750000,172.0
41,1999,Albania,41.0,20.0,Norway,62.000000,10.000000,69.0
42,1999,Albania,41.0,20.0,Poland,52.000000,20.000000,1.0
43,1999,Albania,41.0,20.0,Portugal,39.500000,-8.000000,3.0
44,1999,Albania,41.0,20.0,Spain,40.000000,-4.000000,19.0
45,1999,Albania,41.0,20.0,Sweden,62.000000,15.000000,59.0
46,1999,Albania,41.0,20.0,Switzerland,47.000000,8.000000,1164.0
47,1999,Albania,41.0,20.0,United States,39.828175,-98.579500,310.0
48,1999,Algeria,28.0,3.0,Australia,-25.000000,135.000000,71.0
49,1999,Algeria,28.0,3.0,Austria,47.333333,13.333333,182.0

In [105]:
df_countries.head()


# df_flight_paths = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2011_february_aa_flight_paths.csv')
# df_flight_paths.head()

countries = [ dict(
        type = 'scattergeo',
        locationmode = 'country names',
        lon = df_countries['LONG'],
        lat = df_countries['LAT'],
        hoverinfo = 'text',
        text = df_countries['SHORT_NAME'],
        mode = 'markers',
        marker = dict( 
            size=2, 
            color='rgb(255, 0, 0)',
            line = dict(
                width=3,
                color='rgba(68, 68, 68, 0)'
            )
        ))]
        
asylum_paths = []
for i in range( len( df ) ):
    asylum_paths.append(
         dict(
             type = 'scattergeo',
#             locationmode = 'USA-states',
             lon = [ df['origin_lon'][i], df['asylum_lon'][i] ],
             lat = [ df['origin_lat'][i], df['asylum_lat'][i] ],
             mode = 'lines',
             line = dict(
                 width = 1,
                 color = 'red',
             ),
             opacity = float(df['Value'][i])/float(df['Value'].max()),
         )
     )
    
layout = dict(
        title = 'Feb. 2011 American Airline flight paths<br>(Hover for airport names)',
        showlegend = False, 
        geo = dict(
#             scope='north america',
            showframe = False,
            showcoastlines = True,
            projection = dict(type = 'Mercator'),
            showland = True,
            landcolor = 'rgb(243, 243, 243)',
            countrycolor = 'rgb(204, 204, 204)',
        ),
    )
    
fig = dict( data=asylum_paths + countries, layout=layout )
py.iplot( fig, filename='d3-flight-paths' )

PlotlyRequestError:
<html><head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<title>502 Server Error</title>
</head>
<body text=#000000 bgcolor=#ffffff>
<h1>Error: Server Error</h1>
<h2>The server encountered a temporary error and could not complete your request.<p>Please try again in 30 seconds.</h2>
<h2></h2>
</body></html>