In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as stats
from scipy.stats import poisson
import plotly 
import plotly.plotly as py 
import plotly.figure_factory as ff
from plotly.graph_objs import *
import plotly.graph_objs as go
import cufflinks as cf
plotly.tools.set_credentials_file(username='bluecrayon52', api_key='jidjcpp2L31WYmRfaHZx')

In [2]:
df = pd.read_csv("../data/asylum_seekers_monthly.csv", header = 3, low_memory=False, dtype={'Year': str})
df['Value'] = pd.to_numeric(df['Value'], errors='coerce')
df=df.dropna(subset=['Value'])
# df.dtypes
df.sort_values('Value',ascending=False).head(10)

,Country / territory of asylum/residence,Origin,Year,Month,Value
315117,Germany,Syrian Arab Rep.,2016,February,36860.0
293335,Germany,Syrian Arab Rep.,2015,November,30863.0
315118,Germany,Syrian Arab Rep.,2016,March,30856.0
315116,Germany,Syrian Arab Rep.,2016,January,30261.0
293334,Germany,Syrian Arab Rep.,2015,October,30216.0
315119,Germany,Syrian Arab Rep.,2016,April,28561.0
315123,Germany,Syrian Arab Rep.,2016,August,27315.0
315121,Germany,Syrian Arab Rep.,2016,June,26454.0
293336,Germany,Syrian Arab Rep.,2015,December,25250.0
315122,Germany,Syrian Arab Rep.,2016,July,23979.0

In [3]:
df2 = pd.read_csv("../data/country_centroids/country_centroids_all.csv", sep='\t')
df2 = df2[['LAT', 'LONG','SHORT_NAME', 'FULL_NAME', 'ISO3136']]
# df2.to_pickle("../data/country_centroids/country_centroids_lean.csv")
df2 = pd.read_pickle("../data/country_centroids/country_centroids_lean.csv")
df2.head(10)

,LAT,LONG,SHORT_NAME,FULL_NAME,ISO3136
0,33.000000,66.00,Afghanistan,Islamic Republic of Afghanistan,AF
1,41.000000,20.00,Albania,Republic of Albania,AL
2,28.000000,3.00,Algeria,People's Democratic Republic of Algeria,DZ
3,-14.333333,-170.00,American Samoa,Territory of American Samoa,AS
4,42.500000,1.50,Andorra,Principality of Andorra,AD
5,-12.500000,18.50,Angola,Republic of Angola,AO
6,18.216667,-63.05,Anguilla,Anguilla,AI
7,17.050000,-61.80,Antigua and Barbuda,Antigua and Barbuda,AG
8,-34.000000,-64.00,Argentina,Argentine Republic,AR
9,40.000000,45.00,Armenia,Republic of Armenia,AM

In [4]:
df_countries = df2
df_countries.head()


# df_flight_paths = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2011_february_aa_flight_paths.csv')
# df_flight_paths.head()

airports = [ dict(
        type = 'scattergeo',
        locationmode = 'country names',
        lon = df_countries['LONG'],
        lat = df_countries['LAT'],
        hoverinfo = 'text',
        text = df_countries['SHORT_NAME'],
        mode = 'markers',
        marker = dict( 
            size=2, 
            color='rgb(255, 0, 0)',
            line = dict(
                width=3,
                color='rgba(68, 68, 68, 0)'
            )
        ))]
        
# flight_paths = []
# for i in range( len( df_flight_paths ) ):
#     flight_paths.append(
#         dict(
#             type = 'scattergeo',
#             locationmode = 'USA-states',
#             lon = [ df_flight_paths['start_lon'][i], df_flight_paths['end_lon'][i] ],
#             lat = [ df_flight_paths['start_lat'][i], df_flight_paths['end_lat'][i] ],
#             mode = 'lines',
#             line = dict(
#                 width = 1,
#                 color = 'red',
#             ),
#             opacity = float(df_flight_paths['cnt'][i])/float(df_flight_paths['cnt'].max()),
#         )
#     )
    
layout = dict(
        title = 'Feb. 2011 American Airline flight paths<br>(Hover for airport names)',
        showlegend = False, 
        geo = dict(
#             scope='north america',
            showframe = False,
            showcoastlines = True,
            projection = dict(type = 'Mercator'),
            showland = True,
            landcolor = 'rgb(243, 243, 243)',
            countrycolor = 'rgb(204, 204, 204)',
        ),
    )
    
fig = dict( data=airports, layout=layout )
py.iplot( fig, filename='d3-flight-paths' )